<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <activity
            android:name="io.github.takahirom.codepathtracersample.MainActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        </activity>
        <activity
            android:name="io.github.takahirom.codepathtracersample.ComposeActivity"
            android:label="Compose Sample"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        </activity>
    </application>
</manifest>